<%= simple_form_for [topic, post] do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title, :placeholder => "Enter post title" %>
  <%= f.input :title, hint: false, error_html: {id: 'form-control'} %>
  <%= f.input :body, :placeholder => "Enter post body" %>
  <%= f.input :body, hint: false, error_html: {id: 'form-control'}
  <%= f.button :submit, :placeholder => "Save" %>
<% end %>